.primary-bg{
  background-color: #00ffff;
  }
  .secondary-bg {
    background-color: #0000ff;
  }

.primary-dark {
  background-color: #800080;
}
.secondary-dark {
  background-color: #000000;
}

.primary-light{
  background-color: #00ff00;
}
.secondary-light {
  background-color: #ffffff;
}

.info {
  background-color: #ffff00;
}

.success {
  background-color: #00cc00;
}
.warning {
  background-color: #ff9900;
}
.danger {
  background-color: #ff0000;
}
